In [0]:
employee=[
    (1, "sura", "ABC Inc", 60000, "bangalore", "IT"),
    (2, "venkat", "XYZ Corp", 75000, "hyderabad", "Sales"),
    (3, "kohli", "Apple", 55000, "USA", "Finance"),
    (4, "sachin", "Apple", 70000, "india", "Engineering"),
    (5, "dhoni", "Amazon", 65000, "chennai", "Marketing")
]

In [0]:
schema_of_employee=StructType([\
StructField("id",IntegerType(),True),\
StructField("name",StringType(),True),\
StructField("company",StringType(),True),\
StructField("salary",IntegerType(),True),\
StructField("location",StringType(),True),\
StructField("department",StringType(),True),\
])

In [0]:
from pyspark.sql.types import StructType,StructField, StringType, IntegerType

In [0]:
employeeDF=spark.createDataFrame(data=employee, schema=schema_of_employee)

In [0]:
employeeDF.show()

+---+------+--------+------+---------+-----------+
| id|  name| company|salary| location| department|
+---+------+--------+------+---------+-----------+
|  1|  sura| ABC Inc| 60000|bangalore|         IT|
|  2|venkat|XYZ Corp| 75000|hyderabad|      Sales|
|  3| kohli|   Apple| 55000|      USA|    Finance|
|  4|sachin|   Apple| 70000|    india|Engineering|
|  5| dhoni|  Amazon| 65000|  chennai|  Marketing|
+---+------+--------+------+---------+-----------+

In [0]:
display(employeeDF)

id,name,company,salary,location,department
1,sura,ABC Inc,60000,bangalore,IT
2,venkat,XYZ Corp,75000,hyderabad,Sales
3,kohli,Apple,55000,USA,Finance
4,sachin,Apple,70000,india,Engineering
5,dhoni,Amazon,65000,chennai,Marketing

In [0]:
filterDF=employeeDF.filter(employeeDF.salary>60000)

In [0]:
display(filterDF)

id,name,company,salary,location,department
2,venkat,XYZ Corp,75000,hyderabad,Sales
4,sachin,Apple,70000,india,Engineering
5,dhoni,Amazon,65000,chennai,Marketing

In [0]:
data = [
    (1, "Virat", "Math", 85),
    (2, "Sachin", "Math", 90),
    (3, "Rohit", "Science", 75),
    (4, "Dhoni", "Science", 80),
    (5, "Yuvraj", "Math", None),       # Null value
    (6, "Hardik", "Math", 90),       # Duplicate mark
    (6, "Hardik", "Math", 90)        # Duplicate row
]

In [0]:
columns = ["StudentID", "Name", "Subject", "Marks"]

In [0]:
cricketdf = spark.createDataFrame(data, columns)

In [0]:
display(cricketdf)

StudentID,Name,Subject,Marks
1,Virat,Math,85
2,Sachin,Math,90
3,Rohit,Science,75
4,Dhoni,Science,80
5,Yuvraj,Math,null
6,Hardik,Math,90
6,Hardik,Math,90

In [0]:
cricketdf.printSchema()

root
 |-- StudentID: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Subject: string (nullable = true)
 |-- Marks: long (nullable = true)

In [0]:
print(cricketdf.columns)

['StudentID', 'Name', 'Subject', 'Marks']

In [0]:
print(cricketdf.dtypes)

[('StudentID', 'bigint'), ('Name', 'string'), ('Subject', 'string'), ('Marks', 'bigint')]

In [0]:
cricketdf.select("StudentID", "Name").show()

+---------+------+
|StudentID|  Name|
+---------+------+
|        1| Virat|
|        2|Sachin|
|        3| Rohit|
|        4| Dhoni|
|        5|Yuvraj|
|        6|Hardik|
|        6|Hardik|
+---------+------+

In [0]:
cricketdf.withColumnRenamed("Name", "FullName").show()

+---------+--------+-------+-----+
|StudentID|FullName|Subject|Marks|
+---------+--------+-------+-----+
|        1|   Virat|   Math|   85|
|        2|  Sachin|   Math|   90|
|        3|   Rohit|Science|   75|
|        4|   Dhoni|Science|   80|
|        5|  Yuvraj|   Math| NULL|
|        6|  Hardik|   Math|   90|
|        6|  Hardik|   Math|   90|
+---------+--------+-------+-----+

In [0]:
newdf=cricketdf.withColumnRenamed("Name", "FullName")
newdf.show()

+---------+--------+-------+-----+
|StudentID|FullName|Subject|Marks|
+---------+--------+-------+-----+
|        1|   Virat|   Math|   85|
|        2|  Sachin|   Math|   90|
|        3|   Rohit|Science|   75|
|        4|   Dhoni|Science|   80|
|        5|  Yuvraj|   Math| NULL|
|        6|  Hardik|   Math|   90|
|        6|  Hardik|   Math|   90|
+---------+--------+-------+-----+

In [0]:
addnewcolumndf=newdf.withColumn("NewMarks", newdf.Marks + 5)
display(addnewcolumndf)

StudentID,FullName,Subject,Marks,NewMarks
1,Virat,Math,85,90
2,Sachin,Math,90,95
3,Rohit,Science,75,80
4,Dhoni,Science,80,85
5,Yuvraj,Math,null,null
6,Hardik,Math,90,95
6,Hardik,Math,90,95

In [0]:
dropdf=addnewcolumndf.drop("Marks")
display(dropdf)

StudentID,FullName,Subject,NewMarks
1,Virat,Math,90
2,Sachin,Math,95
3,Rohit,Science,80
4,Dhoni,Science,85
5,Yuvraj,Math,null
6,Hardik,Math,95
6,Hardik,Math,95

In [0]:
dropdf.filter(dropdf.NewMarks < 90).show()

+---------+--------+-------+--------+
|StudentID|FullName|Subject|NewMarks|
+---------+--------+-------+--------+
|        3|   Rohit|Science|      80|
|        4|   Dhoni|Science|      85|
+---------+--------+-------+--------+

In [0]:
cricketdf.show()

+---------+------+-------+-----+
|StudentID|  Name|Subject|Marks|
+---------+------+-------+-----+
|        1| Virat|   Math|   85|
|        2|Sachin|   Math|   90|
|        3| Rohit|Science|   75|
|        4| Dhoni|Science|   80|
|        5|Yuvraj|   Math| NULL|
|        6|Hardik|   Math|   90|
|        6|Hardik|   Math|   90|
+---------+------+-------+-----+